:root {
    --color-primary: oklch(0.922 0 0);
    --color-primary-fg: #0e0e0e;
    /* Secondary*/
    --color-secondary: oklch(0.269 0 0);
    --color-secondary-fg: oklch(0.985 0 0);
    /* Accent*/
    --color-accent: #262626;
    --color-accent-fg: oklch(0.985 0 0);
    /* Bg and fg */
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);
    /* Cards */
    --color-card: oklch(0.205 0 0);
    --color-card-fg: oklch(0.985 0 0);
    /* Popovers */
    --color-popover: oklch(0.269 0 0);
    --color-popover-fg: oklch(0.985 0 0);
    /* Muted */
    --color-muted: oklch(0.269 0 0);
    --color-muted-fg: oklch(0.708 0 0);
    /* Destructive */
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-destructive-fg: oklch(0.985 0 0);
    /* Border and inputs */
    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.556 0 0);
    /* Charts */
    --color-chart1: oklch(0.488 0.243 264.376);
    --color-chart2: oklch(0.696 0.17 162.48);
    --color-chart3: oklch(0.769 0.188 70.08);
    --color-chart4: oklch(0.627 0.265 303.9);
    --color-chart5: oklch(0.645 0.246 16.439);
    /* Sidebars */
    --color-sidebar: oklch(0.205 0 0);
    --color-sidebar-fg: oklch(0.985 0 0);
    --color-sidebar-primary: oklch(0.488 0.243 264.376);
    --color-sidebar-primary-fg: oklch(0.985 0 0);
    --color-sidebar-accent: oklch(0.269 0 0);
    --color-sidebar-accent-fg: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.439 0 0);
    /* Typography */
    --font-primary: "Geist", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --font-serif: "Source Serif 4", serif;
    /* Radius */
    --radius: 0.915rem;
}
