:root {
    /* Primary */
    --color-primary: oklch(0.205 0 0);
    --color-primary-fg: oklch(0.985 0 0);
    /* Secondary */
    --color-secondary: oklch(0.97 0 0);
    --color-secondary-fg: oklch(0.205 0 0);
    /* Accents */
    --color-accent: oklch(0.97 0 0);
    --color-accent-fg: oklch(0.205 0 0);
    /* Bg and fg */
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);
    /* Cards */
    --color-card: oklch(1 0 0);
    --color-card-fg: oklch(0.145 0 0);
    /* Popovers */
    --color-popover: oklch(1 0 0);
    --color-popover-fg: oklch(0.145 0 0);
    /* Muted */
    --color-muted: oklch(0.97 0 0);
    --color-muted-fg: oklch(0.556 0 0);
    /* Destructive */
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-destructive-fg: oklch(0.985 0 0);
    /* Border and inputs*/
    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.922 0 0);
    --color-ring: oklch(0.708 0 0);
    /* Charts */
    --color-chart1: oklch(0.646 0.222 41.116);
    --color-chart2: oklch(0.6 0.118 184.704);
    --color-chart3: oklch(0.398 0.07 227.392);
    --color-chart4: oklch(0.828 0.189 84.429);
    --color-chart5: oklch(0.769 0.188 70.08);
    /* Sidebars */
    --color-sidebar: oklch(0.985 0 0);
    --color-sidebar-fg: oklch(0.145 0 0);
    --color-sidebar-primary: oklch(0.205 0 0);
    --color-sidebar-primary-fg: oklch(0.985 0 0);
    --color-sidebar-accent: oklch(0.97 0 0);
    --color-sidebar-accent-fg: oklch(0.205 0 0);
    --color-sidebar-border: oklch(0.922 0 0);
    --color-sidebar-ring: oklch(0.708 0 0);
    /* Typography */
    --font-primary: "Geist", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --font-serif: "Source Serif 4", serif;
    /* Radius */
    --radius: 0.915rem;
}
